<div>
	<h1>Videos</h1>
	<span>
        <select ng-model="game" ng-change="filterByGame(game);" ng-options="g as g.name for g in games">
			<option value="">All Games</option>
		</select>
      </span><br/>
	<div class="list-wrapper">
		<div class="video-item" ng-repeat="video in videos">
			<a href="#/videos/{{ video.id }}">
				<img src="{{ video.thumbnail_url }}" class="video-thumbnail" />
				<div class="details">
					<h2>{{ video.title }}</h2>
					<h3>{{ video.user.username }}</h3>
				</div>
				<div class="clear"></div>
			</a>
		</div>
	</div>
</div>